<section class="advantages">
  <div class="container">
    <div class="advantages-wrap">
      <p class="advantages-subtitle">Переваги</p>
      <h2 class="advantages-title">Чому обрати нас?</h2>
      <p class="advantages-text">
        Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
        стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
        відповідальність.
      </p>
    </div>
    <ul class="advantages-list">
      <li class="advantages-item item-1">
        <img
          class="advantages-img"
          src="/img/advantages/flat@1x.jpg"
          alt="органічність"
          srcset="/img/advantages/flat@2x.jpg 2x"
        />
        <h3 class="advantages-item-title">Стійкість та екологічність</h3>
        <p class="advantages-item-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-item item-2">
        <picture>
          <source
            srcset="
              /img/advantages/close-up@1x.jpg 1x,
              /img/advantages/close-up@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <source
            srcset="
              /img/advantages/close-up-tablet@1x.jpg 1x,
              /img/advantages/close-up-tablet@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />

          <source
            srcset="
              /img/advantages/close-up@1x.jpg 1x,
              /img/advantages/close-up@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            class="advantages-img"
            src="/img/advantages/close-up@1x.jpg"
            alt="якісний пошив"
          />
        </picture>

        <h3 class="advantages-item-title advantages-item-title-tablet">
          Міцність і довговічність
        </h3>
        <p class="advantages-item-text advantages-item-text-tablet">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-item item-3">
        <img
          class="advantages-img"
          src="/img/advantages/row@1x.jpg"
          alt="сучасний стиль"
          srcset="/img/advantages/row@2x.jpg 2x"
        />
        <h3 class="advantages-item-title">Стильний та сучасний дизайн</h3>
        <p class="advantages-item-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
