<section class="sec-pad">
  <div class="container">
    <div class="advantages-wrap">
      <p class="advantages-subtitle">Переваги</p>
      <h2 class="advantages-title">Чому обрати нас?</h2>
      <p class="advantages-text">
        Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
        стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
        відповідальність.
      </p>
    </div>
    <ul class="advantages-list">
      <li class="advantages-item">
        <img
          class="advantages-img"
          src="/img/advantages/flat@1.png"
          alt="екологічність"
          srcset="/img/advantages/flat@2.png"
        />
        <h3 class="advantages-item-title">Стійкість та екологічність</h3>
        <p class="advantages-item-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-item">
        <img
          class="advantages-img"
          src="/img/advantages/close-up@1.png"
          alt="якість"
          srcset="/img/advantages/close-up@1.png"
        />
        <div class="advantages-item-cont">
          <h3 class="advantages-item-title">Міцність і довговічність</h3>
          <p class="advantages-item-text advantages-item-text-tablet">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <img
          class="advantages-img"
          src="/img/advantages/row@1.png"
          alt="стиль"
          srcset="/img/advantages/row@2.png"
        />
        <h3 class="advantages-item-title">Стильний та сучасний дизайн</h3>
        <p class="advantages-item-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
