<section>
  <h2>Що говорять наші клієнти</h2>
  <ul>
    <li>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>

      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>

      <p>Сумка дуже зручна та стильна, використовую щодня!</p>
      <p>Анна</p>
    </li>
    <li>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>

      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>

      <p>Відмінна якість матеріалів, приємно здивована.</p>
      <p>Ігор</p>
    </li>
    <li>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>

      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>

      <p>Сумка повністю відповідає опису, рекомендую!</p>
      <p>Олена</p>
    </li>
    <li>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>

      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star-fillled"></use>
      </svg>
      <svg class="" width="24" height="24">
        <use href="../img/sprite.svg#icon-star"></use>
      </svg>

      <p>Швидка доставка та гарне обслуговування.</p>
      <p>Сергій</p>
    </li>
  </ul>
</section>
