<section id="feedbacks" class="feedbacks sec-pad">
  <div class="container">
    <h2 class="feedbacks-main">Що говорять наші клієнти</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-list-item">
        <ul class="feedbacks-rating">
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
        </ul>

        <h6 class="feedbacks-review">
          Сумка дуже зручна та стильна, використовую щодня!
        </h6>
        <p class="feedbacks-people">Анна</p>
      </li>
      <li class="feedbacks-list-item">
        <ul class="feedbacks-rating">
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
        </ul>

        <h6 class="feedbacks-review">
          Відмінна якість матеріалів, приємно здивована.
        </h6>
        <p class="feedbacks-people">Ігор</p>
      </li>
      <li class="feedbacks-list-item">
        <ul class="feedbacks-rating">
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
        </ul>

        <h6 class="feedbacks-review">
          Сумка повністю відповідає опису, рекомендую!
        </h6>
        <p class="feedbacks-people">Олена</p>
      </li>
      <li class="feedbacks-list-item">
        <ul class="feedbacks-rating">
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star-fillled"></use>
            </svg>
          </li>
          <li>
            <svg class="icon-star-fillled" width="24" height="24">
              <use href="../img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>

        <h6 class="feedbacks-review">
          Швидка доставка та гарне обслуговування.
        </h6>
        <p class="feedbacks-people">Сергій</p>
      </li>
    </ul>
  </div>
</section>
