<footer>
  <svg class="" width="280" height="121">
    <use href="../img/Company-Logo.svg"></use>
  </svg>
  <ul>
    <li>Про нас</li>
    <li>Переваги</li>
    <li>Асортимент</li>
    <li>Галерея</li>
    <li>Відгуки</li>
    <li>Контакти</li>
  </ul>
  <ul>
    <li>
      <a href="https://www.instagram.com/"
        ><svg class="" width="32" height="32">
          <use href="../img/sprite.svg#icon-Instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/"
        ><svg class="" width="32" height="32">
          <use href="../img/sprite.svg#icon-LinkedIn"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/"
        ><svg class="" width="32" height="32">
          <use href="../img/sprite.svg#icon-Youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
  <div>
    <ul>
      <li><a href="tel:+38 (099) 909 11 22"></a></li>
      <li><a href="mailto:hello@ecotote.com"></a></li>
    </ul>
  </div>
  <p>&copy; 2025 EcoTote. Всі права захищені.</p>
</footer>
