<footer class="footer-section">
  <div class="footer-container">
    <img class="footer-logo" src="../img/Company-Logo.svg" alt="Company-Logo" />
    <ul class="footer-nav">
      <nav class="footer-nav-menu">
        <li><a href="#about">Про нас</a></li>
        <li><a href="#advantages">Переваги</a></li>
        <li><a href="#assortment">Асортимент</a></li>
        <li><a href="#gallery">Галерея</a></li>
        <li><a href="#feedbacks">Відгуки</a></li>
        <li><a href="#support">Контакти</a></li>
      </nav>
    </ul>
    <ul class="footer-social">
      <li>
        <a href="https://www.instagram.com/"
          ><svg class="footer-social-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/"
          ><svg class="footer-social-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-LinkedIn"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/"
          ><svg class="footer-social-icon" width="32" height="32">
            <use href="../img/sprite.svg#icon-Youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer-contacts">
    <address>
      <ul class="footer-contacts-item">
        <li>
          <a class="footer-contacts-text" href="tel:+380999091122"></a>+38 (099)
          909 11 22
        </li>
        <li><a href="mailto:hello@ecotote.com"></a>hello@ecotote.com</li>
      </ul>
    </address>
    <p class="footer-copyright">&copy; 2025 EcoTote. Всі права захищені.</p>
  </div>
</footer>
