<section id="gallery" class="gallery sec-pad">
  <div class="container">
    <h2 class="gallery-heading">Галерея зображень</h2>
    <p class="gallery-paragraph">EcoTotes у повсякденному житті</p>
    <ul class="gallery-content-container">
      <li class="gallery-container-img-1">
        <picture>
          <source srcset="
              /img/gallery/desktop/1x/img-1.webp    1x,
              /img/gallery/desktop/2x/img-1@2x.webp 2x
            " media="(min-width: 1440px)" />
          <source srcset="
              /img/gallery/tablet/1x/img-1.webp    1x,
              /img/gallery/tablet/2x/img-1@2x.webp 2x
            " media="(min-width: 768px)" />
          <source srcset="
              /img/gallery/mobile/1x/img-1.webp    1x,
              /img/gallery/mobile/2x/img-1@2x.webp 2x
            " media="(max-width: 767px)" />
          <img class="gallery-img" src="/img/gallery/desktop/1x/img-1.webp"
            alt="eco bags, in different colors, together with a bicycle on the street " />
        </picture>
      </li>
      <li class="gallery-container-img-2">
        <picture>
          <source srcset="
              /img/gallery/desktop/1x/img-2.webp    1x,
              /img/gallery/desktop/2x/img-2@2x.webp 2x
            " media="(min-width: 1440px)" />
          <source srcset="
              /img/gallery/tablet/1x/img-2.webp    1x,
              /img/gallery/tablet/2x/img-2@2x.webp 2x
            " media="(min-width: 768px)" />
          <source srcset="
              /img/gallery/mobile/1x/img-2.webp    1x,
              /img/gallery/mobile/2x/img-2@2x.webp 2x
            " media="(max-width: 767px)" />
          <img class="gallery-img" src="/img/gallery/desktop/1x/img-2.webp" alt="img-2" />
        </picture>
      </li>
      <li class="gallery-container-img-3">
        <picture>
          <source srcset="
              /img/gallery/desktop/1x/img-3.webp    1x,
              /img/gallery/desktop/2x/img-3@2x.webp 2x
            " media="(min-width: 1440px)" />
          <source srcset="
              /img/gallery/tablet/1x/img-3.webp    1x,
              /img/gallery/tablet/2x/img-3@2x.webp 2x
            " media="(min-width: 768px)" />
          <source srcset="
              /img/gallery/mobile/1x/img-3.webp    1x,
              /img/gallery/mobile/2x/img-3@2x.webp 2x
            " media="(max-width: 767px)" />
          <img class="gallery-img" src="/img/gallery/desktop/1x/img-3.webp"
            alt="Person walking in park with eco-friendly tote bag" />
        </picture>
      </li>
      <li class="gallery-container-img-4">
        <picture>
          <source srcset="
              /img/gallery/desktop/1x/img-4.webp    1x,
              /img/gallery/desktop/2x/img-4@2x.webp 2x
            " media="(min-width: 1440px)" />
          <source srcset="
              /img/gallery/tablet/1x/img-4.webp    1x,
              /img/gallery/tablet/2x/img-4@2x.webp 2x
            " media="(min-width: 768px)" />
          <source srcset="
              /img/gallery/mobile/1x/img-4.webp    1x,
              /img/gallery/mobile/2x/img-4@2x.webp 2x
            " media="(max-width: 767px)" />
          <img class="gallery-img" src="/img/gallery/desktop/1x/img-4.webp"
            alt="Woman with eco tote bag at farmer's market" />
        </picture>
      </li>
    </ul>
  </div>
</section>