<header class="header">
  <div class="container header-container">
    <a href="index.html" class="header-logo">
      <img class="header-logo" src="/img/Company-Logo.svg" alt="Company-Logo" />
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><a class="header-nav-link" href="#about">Про нас</a></li>
        <li class="header-nav-item"><a class="header-nav-link" href="#advantages">Переваги</a></li>
        <li class="header-nav-item"><a class="header-nav-link" href="#assortment">Асортимент</a></li>
        <li class="header-nav-item"><a class="header-nav-link" href="#gallery">Галерея</a></li>
        <li class="header-nav-item"><a class="header-nav-link" href="#feedbacks">Відгуки</a></li>
        <li class="header-nav-item"><a class="header-nav-link" href="#support">Контакти</a></li>
      </ul>
    </nav>
    <address class="header-address">
      <ul class="header-address-list">
        <li class="header-address-item">
          <a class="header-address-link" href="tel:+380999091122">
            +38 (099) 909 11 22
          </a>
        </li>
        <li class="header-address-item">
          <a class="header-address-link" href="mailto:hello@ecotote.com">
            hello@ecotote.com
          </a>
        </li>
      </ul>
    </address>
    <button class="header-open" type="button">
      <svg class="header-open-svg">
        <use href="img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="modal-menu">

    <div class="container">

      <div class="modal-top">
        <a href="index.html" class="header-logo">
          <img class="header-logo" src="/img/Company-Logo.svg" alt="Company-Logo" />
        </a>
        <button class="modal-close" type="button">
          <svg class="modal-close-svg">
            <use href="img/sprite.svg#icon-x"></use>
          </svg>
        </button>

      </div>
      <div class="modal-main">

        <nav class="modal-nav">
          <ul class="modal-nav-list">
            <li class="modal-nav-item"><a class="modal-nav-link" href="#about">Про нас</a></li>
            <li class="modal-nav-item"><a class="modal-nav-link" href="#advantages">Переваги</a></li>
            <li class="modal-nav-item"><a class="modal-nav-link" href="#assortment">Асортимент</a></li>
            <li class="modal-nav-item"><a class="modal-nav-link" href="#gallery">Галерея</a></li>
            <li class="modal-nav-item"><a class="modal-nav-link" href="#feedbacks">Відгуки</a></li>
            <li class="modal-nav-item"><a class="modal-nav-link" href="#support">Контакти</a></li>
          </ul>
        </nav>
        <address class="modal-address">
          <ul class="modal-address-list">
            <li class="modal-address-item">
              <a class="modal-address-link" href="tel:+380999091122">
                +38 (099) 909 11 22
              </a>
            </li>
            <li class="modal-address-item">
              <a class="modal-address-link" href="mailto:hello@ecotote.com">
                hello@ecotote.com
              </a>
            </li>
          </ul>
        </address>
      </div>

    </div>
  </div>
</header>