<header class="header">
  <div class="container">
    <a class="logo" href="/" aria-label="На головну">
      <img src="../img/Company-Logo.svg" alt="EcoTote — логотип" />
    </a>
    <button class="burger" type="button" aria-label="Відкрити меню">
      <svg class="burger-icon" width="32" height="32">
        <use href="../img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="nav-desktop">
      <ul class="nav-links">
        <li><a href="#about">Про нас</a></li>
        <li><a href="#advantages">Переваги</a></li>
        <li><a href="#assortment">Асортимент</a></li>
        <li><a href="#gallery">Галерея</a></li>
        <li><a href="#feedbacks">Відгуки</a></li>
        <li><a href="#contacts">Контакти</a></li>
      </ul>
      <ul class="contacts">
        <li><a href="tel:+380999091122">+38 (099) 909 11 22</a></li>
        <li><a href="mailto:hello@ecotote.com">hello@ecotote.com</a></li>
      </ul>
    </nav>
  </div>
</header>
<nav class="nav-mobile is-open">
  <div class="nav-bar">
    <a class="logo" href="/" aria-label="На головну">
      <img src="../img/Company-Logo.svg" alt="EcoTote — логотип" />
    </a>
    <button class="close" type="button" aria-label="Закрити меню">
      <svg class="close-icon" width="32" height="32">
        <use href="../img/sprite.svg#icon-x"></use>
      </svg>
    </button>
  </div>

  <ul class="nav-links">
    <li><a href="#about">Про нас</a></li>
    <li><a href="#advantages">Переваги</a></li>
    <li><a href="#assortment">Асортимент</a></li>
    <li><a href="#gallery">Галерея</a></li>
    <li><a href="#feedbacks">Відгуки</a></li>
    <li><a href="#contacts">Контакти</a></li>
  </ul>
  <ul class="contacts">
    <li><a href="tel:+380999091122">+38 (099) 909 11 22</a></li>
    <li><a href="mailto:hello@ecotote.com">hello@ecotote.com</a></li>
  </ul>
</nav>
