<section id="hero" class="hero">
    <div class="container">
        <div class="hero-container ">
            <div class="hero-container-part">
                <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті.</h1>
            </div>
            <div class="hero-container-part">
                <p class="hero-text">Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та відповідальність
                    разом з
                    EcoTote.
                </p>
                <a class="hero-btn" href="#assortment">Купити зараз</a>
            </div>
        </div>
        <picture>
            <source srcset="/img/hero/hero-img.webp 1x, /img/hero/hero-img-2x.webp 2x" media="(min-width: 1440px)">
            <source srcset="/img/hero/hero-img-tb.webp 1x, /img/hero/hero-img-tb-2x.webp 2x" media="(min-width: 768px)">
            <source srcset="/img/hero/hero-img-mb.webp 1x, /img/hero/hero-img-mb-2x.webp 2x" media="(max-width: 767px)">
            <img class="hero-img" src="/img/hero/hero-img.webp"
                alt="eco bags, in different colors, together with a bicycle on the street ">
        </picture>

    </div>
</section>