body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: "Fira Sans", "Comfortaa", sans-serif;
  background: #ebf8ed;
  color: #030a06;
}

main {
  flex-grow: 1;
}