.support-section {
    background: #ebf8ed;
    text-align: left;
}

h2 {
    font-family: "Comfortaa", sans-serif;
}

.container-support {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #ebf8ed;
}

.support-container-part {
    text-align: left;
    width: 288px;
    gap: 24px;
    flex-direction: column;
    display: flex;
}

.support-logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #030a06;
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 0.01em;
}

.support-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #030a06;
}

/* Форма */
.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* центруємо форму для мобільних */
    gap: 24px;
    padding: 0;
}

/* Кожне поле */
.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

/* Інпути і textarea однакової ширини */
.modal-input,
.modal-text-input {
    width: 288px;
    height: 42px;
    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    background: rgba(3, 10, 6, 0.05);
    border: 1px solid rgba(3, 10, 6, 0.15);
    color: #030a06;
}

.modal-input,
.modal-text-input,
.modal-input-label,
.modal-input::placeholder,
.modal-text-input::placeholder {
    font-size: 16px;
    line-height: 1.6;
    font-family: "Fira Sans", sans-serif;
}

.modal-text-input {
    resize: none;
    height: 180px;
    font-weight: 400;
}

.modal-input:hover,
.modal-input:focus,
.modal-text-input:hover,
.modal-text-input:focus {
    outline: none;
}

/* Інпут при помилці */
.modal-input:invalid:not(:placeholder-shown) {
    border: 1px solid #d64040;
    /* червоний бордер */
}

/* Текст помилки під час введення некоректного email */
.modal-input:invalid:not(:placeholder-shown)~.text-invalid {
    display: block;
    color: #d64040;
    /* червоний текст */
}

/* При правильному введенні */
.modal-input:valid {
    border: 1px solid rgba(3, 10, 6, 0.15);
    /* стандартний бордер */
}

.modal-input:valid~.text-invalid {
    display: none;
}

.modal-input::placeholder,
.modal-text-input::placeholder {
    color: rgba(3, 10, 6, 0.6);
    font-family: "Fira Sans", sans-serif;
}

.text-invalid {
    font-size: 12px;
    margin: 0;
    display: none;
}

.modal-form .submit-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    border: 1px solid #030a06;
    border-radius: 6px;
    width: 288px;
    height: 50px;
    cursor: pointer;
    background-color: #030a06;
    padding: 12px 0;
    transition: opacity 0.3s ease;

}

.submit-btn:hover,
.submit-btn:focus {
    background: #030a06;
    opacity: 0.5;
}

.submit-btn:active {
    background: #113916;
    opacity: 0.6;
}

.submit-btn:disabled {
    background: #030a06;
    opacity: 0.2;
}

/* Зображення */
.form-image {
    width: 288px;
    /* мобільний */
    height: 180px;
    margin-top: 24px;
    border-radius: 40px;
    background-image: url('../img/support/img-mob-1x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

/* Мобільний 2x */
@media screen and (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2) {
    .form-image {
        background-image: url('../img/support/img-mob-2x.jpg');
    }
}

/* Планшет */
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .form-image {
        width: 704px;
        height: 360px;
        border-radius: 40px;
        background-image: url('../img/support/img-tab-1x.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
}

/* Планшет 2x */
@media screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2) {
    .form-image {
        background-image: url('../img/support/img-tab-2x.jpg');
    }
}

/* Десктоп */
@media screen and (min-width: 1440px) {
    .form-image {
        width: 644px;
        height: 767px;
        border-radius: 40px;
        background-image: url('../img/support/img-desk-1x.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 0;
    }
}

/* Десктоп 2x */
@media screen and (min-width: 1440px) and (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2) {
    .form-image {
        background-image: url('../img/support/img-desk-2x.jpg');
    }
}

/* Адаптив для планшета */
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container-support {
        align-items: flex-start;
        /* Заголовок і текст по лівому краю */
        text-align: left;
        gap: 32px;
        padding-top: 64px;
        max-width: 1440px;
    }

    .support-container-part {
        display: flex;
        text-align: left;
        width: 704px;
        /* ширина текстового блоку */
        max-width: 100%;
        gap: 24px;
        flex-direction: column;
    }

    .modal-form {
        align-items: flex-start;
        /* форма по лівому краю */
        gap: 24px;
    }

    .modal-input,
    .modal-text-input {
        width: 704px;
        /* ширина інпутів */
    }

    .modal-form .submit-btn {
        width: 249px;
        /* ширина кнопки */
        height: 50px;
        /* висота кнопки */
    }
}

@media screen and (min-width: 1440px) {

    .support-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-items: stretch;
        gap: 24px;
        /* відстань між колонками */
        /* або 1296px, якщо потрібно */
        margin: 0 auto;
        flex-wrap: nowrap;
        /* не переносимо колонки */
    }

    .support.sec-pad {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
        /* відстань між колонками */
        margin: 0 auto;
        flex-wrap: nowrap;
        /* щоб не переносило на новий рядок */
    }

    .support-logo {
        font-size: 48px;
    }

    .container-support {
        width: 644px;
        /* фіксована ширина лівого контейнера */
        display: flex;
        flex-direction: column;
        gap: 24px;
        display: flex;
        text-align: left;
        padding-top: 0;
    }

    .modal-form {
        width: 644px;
        /* заповнює ширину контейнера */
        align-items: flex-start;
    }

    .modal-input,
    .modal-text-input {
        width: 644px;
        /* під ширину контейнера */
    }


    .support-container-part {
        text-align: left;
        /* ✅ вирівнювання по лівому краю */
        width: 644px;
        /* щоб тягнулося на весь контейнер */
    }

    .modal-form .submit-btn {
        width: 100%;
        /* 644px */
        max-width: 198px;
        /* можна обмежити максимум */
        height: 50px;
    }
}